<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CHaMPWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CHaMPWorkbench.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputFolder" serializeAs="String">
                <value>C:\CHaMP\RBTInputOutputFiles</value>
            </setting>
            <setting name="LastResultsFile" serializeAs="String">
                <value>Results.xml</value>
            </setting>
            <setting name="LastLogfile" serializeAs="String">
                <value>Log.xml</value>
            </setting>
            <setting name="DefaultRBTFile" serializeAs="String">
                <value>input.xml</value>
            </setting>
            <setting name="LastSourceFolder" serializeAs="String">
                <value>C:\CHaMP\MonitoringData</value>
            </setting>
        </CHaMPWorkbench.Properties.Settings>
    </userSettings>
</configuration>