<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CHaMPWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CHaMPWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CHaMPWorkbench.Properties.Settings.RBTWorkbenchConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\CHaMP\Workbench\Workbench.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <CHaMPWorkbench.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTempFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastOutputFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastResultsFile" serializeAs="String">
                <value>Results.xml</value>
            </setting>
            <setting name="LastLogfile" serializeAs="String">
                <value>Log.xml</value>
            </setting>
            <setting name="LastSourceFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>C:\Program Files\Sublime Text 2\sublime_text.exe</value>
            </setting>
            <setting name="RBTConsole" serializeAs="String">
                <value />
            </setting>
            <setting name="RBTPathVariableActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RBTPathVariable" serializeAs="String">
                <value>C:\\Python27\\ArcGISx6410.1;C:\\Python27\\ArcGISx6410.1\\DLLs</value>
            </setting>
            <setting name="MonitoringDataFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="InputOutputFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value>workbench@champmonitoring.org</value>
            </setting>
            <setting name="GoogleMapZoom" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AWSCloudWatchGUID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="AWSLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GUTPythonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Model_Python" serializeAs="String">
                <value />
            </setting>
            <setting name="HydroGraphStart" serializeAs="String">
                <value>2011-01-01</value>
            </setting>
            <setting name="HydroGraphEnd" serializeAs="String">
                <value>2016-01-01</value>
            </setting>
            <setting name="Model_HydroPrep" serializeAs="String">
                <value />
            </setting>
            <setting name="Model_HabitatConsole" serializeAs="String">
                <value />
            </setting>
            <setting name="Habitat_Project" serializeAs="String">
                <value />
            </setting>
        </CHaMPWorkbench.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <CHaMPWorkbench.Properties.Settings>
            <setting name="AWSRegion" serializeAs="String">
                <value>us-west-2</value>
            </setting>
            <setting name="AWSGroupName" serializeAs="String">
                <value>NARApps-Workbench</value>
            </setting>
            <setting name="AWSKey" serializeAs="String">
                <value>AKIAIM7D6NQSGCW37YDQ</value>
            </setting>
            <setting name="AWSSecret" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="ModelType_RBT" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ModelType_GUT" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ModelType_HydroPrep" serializeAs="String">
                <value>40</value>
            </setting>
        </CHaMPWorkbench.Properties.Settings>
    </applicationSettings>
</configuration>
