<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CHaMPWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CHaMPWorkbench.Properties.Settings.RBTWorkbenchConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\CHaMP\Workbench\RBTWorkbench.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <CHaMPWorkbench.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTempFolder" serializeAs="String">
                <value>C:\CHaMP\RBTTempFolder</value>
            </setting>
            <setting name="LastOutputFolder" serializeAs="String">
                <value>C:\CHaMP\RBTInputOutputFiles</value>
            </setting>
            <setting name="LastResultsFile" serializeAs="String">
                <value>Results.xml</value>
            </setting>
            <setting name="LastLogfile" serializeAs="String">
                <value>Log.xml</value>
            </setting>
            <setting name="LastSourceFolder" serializeAs="String">
                <value>C:\CHaMP\MonitoringData</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>C:\Program Files\Sublime Text 2\sublime_text.exe</value>
            </setting>
            <setting name="RBTConsole" serializeAs="String">
                <value>C:\Users\PhilipLocal\Documents\Code\RBT\rbt-console\bin\Debug\x86\RBTConsole.exe</value>
            </setting>
            <setting name="ZipPath" serializeAs="String">
                <value>C:\Program Files\7-Zip\7z.exe</value>
            </setting>
            <setting name="RBTPathVariableActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RBTPathVariable" serializeAs="String">
                <value>C:\\Python27\\ArcGISx6410.1;C:\\Python27\\ArcGISx6410.1\\DLLs</value>
            </setting>
            <setting name="MonitoringDataFolder" serializeAs="String">
                <value>C:\CHaMP\MonitoringData</value>
            </setting>
            <setting name="InputOutputFolder" serializeAs="String">
                <value>C:\CHaMP\RBTInputOutputFiles</value>
            </setting>
        </CHaMPWorkbench.Properties.Settings>
    </userSettings>
</configuration>