// Put watershed-specific code here
// Anything that applies to all reports should go in _base.scss
@import "base";


// Table formatting
table#point-editing-summary {
  tr td:nth-child(1), { width: 50px; }
  tr th:nth-child(1) { width: 50px; }
}

table#line-editing-summary {
  tr td:nth-child(1), { width: 50px; }
  tr th:nth-child(1) { width: 50px; }
}

table#node-editing-summary {
  tr td:nth-child(1), { width: 100px; }
  tr th:nth-child(1) { width: 150px; }
}

.number-column {
	text-align: right;
}

h3.bottom-pad {
	padding: 0 0 15px 0;
}

h3.table-name {
	font-size: 1.2em;
}

h2.top-pad, h3.top-pad, h4.top-pad {
  padding: 15px 0 0 0;
}

span.response {
	color: #5C6699;
}

.jumbo-blue {
	background-color: #BAD4FF;
}