// Put watershed-specific code here
// Anything that applies to all reports should go in _base.scss
@import "base";

// Table formatting
table#channel-feature-summary {
  tr td:nth-child(1), { width: 200px; }
  tr th:nth-child(1) { width: 300px; }
} 

h3.table-name {
	font-size: 1.2em;
}

h3.bottom-pad {
	padding: 0 0 15px 0;
}

h2.top-pad, h3.top-pad, h4.top-pad {
  padding: 15px 0 0 0;
}

span.response {
	color: #5C6699;
}

.jumbo-blue {
	background-color: #BAD4FF;
}