// Put watershed-specific code here
// Anything that applies to all reports should go in _base.scss
@import "base";

// Table formatting
table#channel-feature-summary {
  tr td:nth-child(1), { width: 200px; }
  tr th:nth-child(1) { width: 300px; }
}

#light{
  thead { 
        background-color: #ccc;
        color:#777;
    }
} 

h3.table-name {
	font-size: 1.2em;
}

span.response {
	color: #5C6699;
}

.jumbo-blue {
	background-color: #BAD4FF;
}